In [1]:
import pandas as pd
import numpy as np

In [15]:
# ë°ì´í„° ë¡œë“œ
bmi_data_path = "data/bmi_data.csv" 
food_data_path = "data/food_data.csv"
exercise_data_path = "data/exercise_data.csv"

In [16]:
bmi_data = pd.read_csv(bmi_data_path)
food_data = pd.read_csv(food_data_path)
exercise_data = pd.read_csv(exercise_data_path)

In [17]:
bmi_data

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ìˆ˜ì¶•ê¸°í˜ˆì••,ì´ì™„ê¸°í˜ˆì••,ì‹ì „í˜ˆë‹¹(ê³µë³µí˜ˆë‹¹),ì´ì½œë ˆìŠ¤í…Œë¡¤,HDLì½œë ˆìŠ¤í…Œë¡¤,LDLì½œë ˆìŠ¤í…Œë¡¤,íŠ¸ë¦¬ê¸€ë¦¬ì„¸ë¼ì´ë“œ,í˜ˆì²­ì§€ì˜¤í‹°(AST),í˜ˆì²­ì§€í”¼í‹°(ALT),ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,ìŒì£¼ì—¬ë¶€,BMI,user_id
0,2,13,72.0,125.0,79.0,88.0,166.000000,98.000000,53.000000,75.0,24.0,14.0,12.0,1.0,0.0,22.892820,0
1,1,11,90.1,118.0,76.0,103.0,196.744106,57.035215,115.281692,105.0,54.0,63.0,51.0,3.0,0.0,22.857143,1
2,1,13,96.5,120.0,70.0,182.0,196.744106,57.035215,115.281692,105.0,24.0,35.0,71.0,3.0,1.0,27.681661,2
3,2,11,71.0,118.0,73.0,96.0,220.000000,72.000000,127.000000,105.0,31.0,17.0,16.0,1.0,0.0,20.811655,3
4,2,13,71.0,167.0,96.0,106.0,163.000000,68.000000,79.000000,79.0,30.0,18.0,14.0,1.0,0.0,20.811655,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,13,85.0,125.0,81.0,90.0,201.000000,56.000000,118.000000,135.0,26.0,25.0,11.0,1.0,0.0,25.390625,99995
99996,2,13,79.0,135.0,74.0,101.0,196.744106,57.035215,115.281692,105.0,23.0,21.0,13.0,1.0,0.0,22.959184,99996
99997,2,9,83.0,120.0,63.0,132.0,196.744106,57.035215,115.281692,105.0,48.0,38.0,11.0,1.0,1.0,33.333333,99997
99998,2,8,65.5,100.0,61.0,88.0,196.744106,57.035215,115.281692,105.0,15.0,11.0,12.0,1.0,1.0,19.531250,99998
99999,1,6,97.0,133.0,67.0,93.0,196.744106,57.035215,115.281692,105.0,20.0,23.0,20.0,3.0,1.0,27.681661,99999

In [18]:
food_data

,ìŒì‹,ì¹¼ë¡œë¦¬,ì§€ë°©,í¬í™”ì§€ë°©,ë‹¨ì¼ë¶ˆí¬í™”ì§€ë°©,ë‹¤ì¤‘ë¶ˆí¬í™”ì§€ë°©,íƒ„ìˆ˜í™”ë¬¼,ë‹¹ë¥˜,ë‹¨ë°±ì§ˆ,ì‹ì´ì„¬ìœ,ì½œë ˆìŠ¤í…Œë¡¤,ë‚˜íŠ¸ë¥¨,ìˆ˜ë¶„,user_id,ì„­ì·¨ ì—¬ë¶€
0,cream cheese,51,5.0,2.900,1.300,0.200,0.8,0.500,0.9,0.0,14.6,0.016,7.6,15795,1
1,neufchatel cheese,215,19.4,10.900,4.900,0.800,3.1,2.700,7.8,0.0,62.9,0.300,53.6,860,1
2,requeijao cremoso light catupiry,49,3.6,2.300,0.900,0.000,0.9,3.400,0.8,0.1,0.0,0.000,0.0,76820,1
3,ricotta cheese,30,2.0,1.300,0.500,0.002,1.5,0.091,1.5,0.0,9.8,0.017,14.7,54886,1
4,cream cheese low fat,30,2.3,1.400,0.600,0.042,1.2,0.900,1.2,0.0,8.1,0.046,10.0,6265,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,muesli master crumble,124,2.4,1.000,19.800,8.500,4.5,0.042,2.4,0.0,0.0,0.000,0.0,98032,1
2391,bran flakes,131,0.8,0.200,0.100,0.500,32.2,7.400,4.0,7.3,0.0,0.200,1.4,55754,1
2392,nut cereal,245,5.9,1.000,3.900,0.500,46.2,17.200,4.0,3.6,0.0,0.300,2.6,62438,1
2393,corn flakes,108,0.3,0.098,0.071,0.018,24.6,2.200,1.7,0.8,0.0,0.200,0.9,29371,1
2394,corn grits dry,36,0.2,0.022,0.018,0.032,7.7,0.008,0.7,0.4,0.0,0.054,1.1,51501,1

In [19]:
exercise_data

        ìš´ë™ëª…  ë‹¨ìœ„ì²´ì¤‘ë‹¹ì—ë„ˆì§€ì†Œë¹„ëŸ‰  user_id  ìš´ë™ ì—¬ë¶€
0    ë°”ë²¨ ìŠ¤ì¿¼íŠ¸          6.0    60946      1
1        ë‹¤íŠ¸          2.5    38467      1
2    ì•¼êµ¬ ìºì¹˜ë³¼          2.5    17625      1
3        ë‹¹êµ¬          2.5    33893      1
4        ìš”ê°€          2.5    76329      1
..      ...          ...      ...    ...
370   ìƒˆì²œë…„ì²´ì¡°          3.5    60703      1
371    í›Œë¼í›„í”„          4.0    64379      1
372   ë²ˆì§€í”¼ì§€ì˜¤          5.0    95457      1
373   wtyìš´ë™          7.0    57866      1
374     ìŠ¤í…í¼          5.0    16905      1

[375 rows x 4 columns]

In [20]:
# ğŸ“Œ ëª¨ë“  user_id ë¦¬ìŠ¤íŠ¸ (bmi_data ê¸°ì¤€)
all_users = set(bmi_data["user_id"])

In [21]:
# ğŸ“Œ ì‚¬ìš©ìê°€ ì„­ì·¨í•œ ìŒì‹ í™•ì¸
food_data["ì„­ì·¨ ì—¬ë¶€"] = food_data["user_id"].apply(lambda x: "1" if x in all_users else "0")

In [22]:
food_data

,ìŒì‹,ì¹¼ë¡œë¦¬,ì§€ë°©,í¬í™”ì§€ë°©,ë‹¨ì¼ë¶ˆí¬í™”ì§€ë°©,ë‹¤ì¤‘ë¶ˆí¬í™”ì§€ë°©,íƒ„ìˆ˜í™”ë¬¼,ë‹¹ë¥˜,ë‹¨ë°±ì§ˆ,ì‹ì´ì„¬ìœ,ì½œë ˆìŠ¤í…Œë¡¤,ë‚˜íŠ¸ë¥¨,ìˆ˜ë¶„,user_id,ì„­ì·¨ ì—¬ë¶€
0,cream cheese,51,5.0,2.900,1.300,0.200,0.8,0.500,0.9,0.0,14.6,0.016,7.6,15795,1
1,neufchatel cheese,215,19.4,10.900,4.900,0.800,3.1,2.700,7.8,0.0,62.9,0.300,53.6,860,1
2,requeijao cremoso light catupiry,49,3.6,2.300,0.900,0.000,0.9,3.400,0.8,0.1,0.0,0.000,0.0,76820,1
3,ricotta cheese,30,2.0,1.300,0.500,0.002,1.5,0.091,1.5,0.0,9.8,0.017,14.7,54886,1
4,cream cheese low fat,30,2.3,1.400,0.600,0.042,1.2,0.900,1.2,0.0,8.1,0.046,10.0,6265,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2390,muesli master crumble,124,2.4,1.000,19.800,8.500,4.5,0.042,2.4,0.0,0.0,0.000,0.0,98032,1
2391,bran flakes,131,0.8,0.200,0.100,0.500,32.2,7.400,4.0,7.3,0.0,0.200,1.4,55754,1
2392,nut cereal,245,5.9,1.000,3.900,0.500,46.2,17.200,4.0,3.6,0.0,0.300,2.6,62438,1
2393,corn flakes,108,0.3,0.098,0.071,0.018,24.6,2.200,1.7,0.8,0.0,0.200,0.9,29371,1
2394,corn grits dry,36,0.2,0.022,0.018,0.032,7.7,0.008,0.7,0.4,0.0,0.054,1.1,51501,1

In [23]:
food_data.to_csv("./data/food_data.csv", index=False)

In [24]:
merged_data =pd.read_csv("data/merged_data.csv")

In [26]:
merged_data.columns

Index(['ì„±ë³„ì½”ë“œ', 'ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)', 'í—ˆë¦¬ë‘˜ë ˆ', 'ìˆ˜ì¶•ê¸°í˜ˆì••', 'ì´ì™„ê¸°í˜ˆì••', 'ì‹ì „í˜ˆë‹¹(ê³µë³µí˜ˆë‹¹)', 'ì´ì½œë ˆìŠ¤í…Œë¡¤',
       'HDLì½œë ˆìŠ¤í…Œë¡¤', 'LDLì½œë ˆìŠ¤í…Œë¡¤', 'íŠ¸ë¦¬ê¸€ë¦¬ì„¸ë¼ì´ë“œ', 'í˜ˆì²­ì§€ì˜¤í‹°(AST)', 'í˜ˆì²­ì§€í”¼í‹°(ALT)', 'ê°ë§ˆì§€í‹°í”¼',
       'í¡ì—°ìƒíƒœ', 'ìŒì£¼ì—¬ë¶€', 'BMI', 'user_id', 'ìŒì‹', 'ì¹¼ë¡œë¦¬', 'ì§€ë°©', 'í¬í™”ì§€ë°©', 'ë‹¨ì¼ë¶ˆí¬í™”ì§€ë°©',
       'ë‹¤ì¤‘ë¶ˆí¬í™”ì§€ë°©', 'íƒ„ìˆ˜í™”ë¬¼', 'ë‹¹ë¥˜', 'ë‹¨ë°±ì§ˆ', 'ì‹ì´ì„¬ìœ ', 'ì½œë ˆìŠ¤í…Œë¡¤', 'ë‚˜íŠ¸ë¥¨', 'ìˆ˜ë¶„', 'ìš´ë™ëª…',
       'ë‹¨ìœ„ì²´ì¤‘ë‹¹ì—ë„ˆì§€ì†Œë¹„ëŸ‰', 'BMI_ë“±ê¸‰'],
      dtype='object')